body {
  font-family: sans-serif;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  margin-top: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    filter: brightness(96%);
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 25%;

  & input {
    padding: 5px;
  }

  & button {
    max-width: 25%;
    align-self: flex-end;
  }
}

.route-information {
    margin: 10px 0;
}
